 .spekeskinke {
    color: red

} 
 
.hvetemel {
    color: red;
} 

h1 {
 text-align: center;
 color: blue;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: rgb(118, 95, 180);
}